
page-password{
    .button-class{
  background-color:#FF4F00;
  color:white;
   text-align:"center";
 //  border-radius: 4px;
  // border:1.2px solid #FF4F00;
   //width:100%;
}
.input-class{
    color:#FF4F00;
    margin-top:20px;
 //  border: 1.2px solid #FF4F00;
  //  border-radius: 4px;
   // border-bottom-color: #FF4F00;
}
.scroll-content{
    overflow-y: hidden;
    overflow-x: hidden;
}
.input{
 // border-radius: 4px;
  background:white;
 // padding-left:5px;
//  border:1.2px solid #FF4F00;
  font-size: 17px
}
  .text-input::-webkit-input-placeholder {
  color: #FF4F00;
  
}
.or-class{
    color:#FF4F00;
    text-align: center;
  //  padding:10px;
    border-style: none;
    margin-top:20px;
}
.button-class{
  background-color:#FF4F00;
  color:white;
   text-align:"center";
   margin-left:14%;
margin-top:20px;
   width:86%;
}
 .button-class1{
  background-color:#FF4F00;
  color:white;
   text-align:"center";
   margin-right:14%;
margin-top:20px;
   width:86%;
}

.text-class1{
    text-align: center;
    color: #666666;
     margin-left:7%;
  margin-right:7%;
   // padding-left:20px;
   // padding-right: 20px;
   // padding-bottom: 0px;
   padding-bottom: 0px;
    margin-bottom: 0px;
    font-size:16px;
}
.close-icon{
   color:#666666;background-color:white;font-size:40px;
   font-weight: bolder;

}
.heading-cls{
    color:#ff4f00;text-align:center;font-size:40px;
    font-family: Monotype Corsiva;
}
.heading2-cls{
    color:#ff4f00;text-align:center;font-size:20px
}
#ion-item-id{
font-size:18px;color:#ff4f00;text-align:center

}
.happy-icon{
    color:#ff4f00;font-size:50px
}
.btn6{
  //  width:100%;
    background-color: #ff4f00;
    color:white;
}
.scroll-content{
    overflow-y: hidden;
    overflow-x: hidden;
}
.padding-btn{
     // padding-left:8%;
  //  padding-right:8%;
 // padding:8%;
  padding-top:20%

}
.background{
    background: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

}

