page-restaurantmenu{
    .label-md{
        margin-top:-10px;
        padding-bottom:0px;
        margin-bottom:-10px;
    }
      .label-ios{
        margin:0px;
    }
    .list-md{
        margin-top: -5px;
        
    }
   .even{
        background: whitesmoke;
        color:#ff4400;;
    }
    .odd{
        background:white;
        color:#ff4400;;
    }
    .ion-item{
        padding-bottom: 0px;
    }
    .item-x{
        margin-top:-10px;
        margin-bottom: -10px;
    }
    .item-y1{
        margin-top:-16px;
      //  margin-bottom: -10px
    }
    .col{
        padding: 0px;
    }
    .list-a{
        margin-top:-10px;
        margin-bottom: -10px;
    }
    .icon{
        font-size:25px
    }
    .ion-item{
        margin-bottom: -10px;
        height:50px;
    }
    .color{
        color:green;
    }
      .color1{
        color:gray;
    }
}