page-modal{
    /*
.toolbar-background-md{
    background: #ff4400;;
    }
.toolbar-background-ios{
    background: #ff4400;;
    }

    .toolbar-title-md{

        color: white;
        text-align: center;
    }
.toolbar-title-ios{
        color: white;
        text-align: center;
    }
   .no-scroll .scroll-content{
    overflow: hidden;
  }
  
}*/
}
.alertcss{
      color: #ff4400;;
  }
  
/*.toolbar-background-md{
    background: maroon;
    }
.toolbar-background-ios{
    background: maroon;
    }

      .toolbar-title-md{

        color: white;
    }
.toolbar-title-ios{
        color: white;
    }*/