page-holidayedit{
    .color{
    background: #ff4400;
    text-align: center;
    color: white;
    font-weight: bold;
}
.textarea1{
     width: 86%;
     height:100px;
     margin-bottom: 2%;
     border:1.2px solid #ff4400;
     margin-top:0;
     padding-left:6px;
     color: #ff4400;
     margin-left:7%;
     margin-right:7%;
}
.colx{
    padding: 0;
}
.inputx{
    margin-top:1%;
    margin-bottom: 3%;
     height:57%;
}
.input-y{
    margin-left:14%;
    height:65%;
}
.input-z{
    height:65%;
    width: 80%;
}
.date-a{
    border:1.2px solid #ff4400;
     margin-left:14%;
    margin-right: 14%;
}
.item-ios{
    padding: 0;
}
.selectx{
    max-width: 100%;
    height:66%;
    margin-left:7%;
    margin-right: 4%;
}
.icon-x{
    color:#ff4400;
    font-size: 30px;
    font-weight: bold;
    background: none;
}
.button-x{
    background: none;
    background-color: none;
    box-shadow: none;
}
.rowx{
    margin-left:7%;
    margin-right: 7%;
}
.btnx{
    margin-left:100%;
}
.toolbar-title {
    overflow: visible;
}
ion-label.label.label-ios {
   margin-top: 0px;
 }
}