<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="back-arrow"></ion-icon>
    </button>
        <ion-title style="background-color:white;color:#ff4400"><b style="color:#ff4400">{{name1.day}}</b></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="label-neworders" *ngFor="let category  of menu" no-padding>

        <ion-label class="text-center" id="text-middle"><b>{{name}} Item List</b>
            <button style="float:right;background:none" (click)="openpopup(varity)">
                          <ion-icon name="ios-funnel" style="float:right;color:black"></ion-icon>
                    </button>
        </ion-label>

    </div>
    <div no-padding>
        <ion-list border-bottom="none" *ngFor="let category of menu; let odd=odd; let even=even;" no-padding>
            <ion-item-sliding *ngFor="let it of category.items;let index1=index1">
                <ion-item text-wrap *ngIf="name == category.name" style="margin-top:0px;margin-bottom:0px;padding-top:0px;
            padding-bottom:0px" no-padding>
                    <ion-row>
                        <ion-col col-6 no-padding>
                            <ion-row>
                                <ion-col col-4>
                                    <p style="color:#ff4400;;font-weight:bold;font-size:15px;text-align:right">{{it.sequence | json}}. </p>
                                </ion-col>
                                <ion-col col-8>
                                    <p style="color:#ff4400;;font-weight:bold;font-size:15px">{{it.name}}</p>
                                    <p style="font-size:12px;padding-top:5px">{{it.notes }}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col col-6>
                            <ion-row *ngFor="let varity of it.varities">
                                <ion-col col-1 style="font-size:15px;margin-top:-7px">»</ion-col>
                                <ion-col col-5 style="font-size:15px;margin-top:-7px">{{varity.name}}</ion-col>
                                <ion-col col-5 style="text-align:right;font-size:15px;margin-top:-7px">£{{varity.price | number : '1.2'}}</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-options>
                    <button ion-button (click)="editfields(category.name,index,it.name)" class="rowz" [ngClass]="{ odd: odd, even: even }"><ion-icon name="create" style="font-size:25px" ></ion-icon>
                 EDIT 
                </button>
                    <button ion-button (click)="deletefields(item)" class="rowy" [ngClass]="{ odd: odd, even: even }"><ion-icon name="trash" style="font-size:25px" ></ion-icon>
                 DELETE
                </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <ion-footer style="position:fixed;margin-bottom:50px;" no-border>
        <button ion-button (click)="createItem()" style="margin-top:0px;background:none;float:right;background-color:none;box-shadow:none;width:100px;height:100px">   
           <ion-icon name="add-circle" style="color:#ff4400;font-size:70px"></ion-icon>
    </button>
    </ion-footer>
</ion-content>