page-modal{

    @media only screen and (min-height: 600px) and (min-width: 768px)
{
.ios .modal-wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    /* left: calc(50% - (600px/2)); */
    /* top: calc(50% - (500px/2)); */
    position: absolute;
    width: 1500px;
    height: 1500px;
}
}
 .main-view{
    background: transparentize(lightgray, 0.2);
    overflow: hidden;
    height:100%!important;
    width:100%!important;
   // background-color: green
  }


.modal_content{
    position: absolute;
    top: calc(50% - (50%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 45%;
    margin: 0 auto;
    background:white;
    border-radius: 5px;
    border-width: 2px;
    overflow: hidden;
  }
  div.modal-wrapper{
    height:100%!important;
    width:100%!important;
  }
  ion-textarea{
  width: 100%;
  height: 30%;
  color:maroon;
}
  
  }
