page-zoneedit{
    .header-x{
         text-align: center;
         color: white;
         background: #ff4400;
    }
    .padding-a{
    padding-bottom: 0;
    // padding-left:5%;
    color:#666666;
    font-size: 18px;
     margin-left:2%;
    margin-right:7%;
    font-weight: bold;
}

.padding-b{
     margin-left:1%;
  //  margin-right: 1%;
    width:93%;
}
.toolbar-title{
    display: block;
     overflow: visible; 
    width: 100%;
    text-overflow: none;
    white-space: nowrap;
}

}