
page-password4{

.heading-cls4{
    color:#ff4f00;text-align:center;font-size:40px;
    font-family: Monotype Corsiva;
}
.heading2-cls4{
    color:#ff4f00;text-align:center;font-size:20px
}
#ion-item-id{
font-size:18px;color:#ff4f00;text-align:center;
margin-top:20px;

}
[text-wrap] .label-md {
    font-size: 18px;
}
.happy-icon{
    padding-top:15px;
    color:#ff4f00;font-size:50px
}
.padding-btn{
     // padding-left:8%;
  //  padding-right:8%;
  padding:12%;
  padding-top:20%

}
.text-class1{
    text-align: center;
    color: #666666;
    margin-left:7%;
  margin-right:7%;
  padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size:16px;
}
.close-icon{
   color:#666666;background-color:white;font-size:40px;
font-weight:bolder;

}
#padding-btn{
    width:100%;
}
.scroll-content{
    overflow: hidden;
}
.background{
    background: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

}