<ion-header>
    <ion-navbar>
        <ion-title>{{name.day}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item style="text-align:center;color:white;background:#ff4400;font-weight:bold;font-size:18px">Edit Item Extras</ion-item>
    <ion-segment [(ngModel)]="basic">
        <ion-segment-button value="basic">Basic</ion-segment-button>
        <ion-segment-button value="extra_item">Select Extra Items</ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="basic">
        <div *ngSwitchCase="'basic'">
            <p class="padding-t">Sequence:</p>
            <ion-input type="text" placeholder="Sequence"></ion-input>
            <p class="padding-t">Item Extra Name:</p>
            <ion-input type="text" [(ngModel)]="food1" placeholder="item Name"></ion-input>
            <p class="padding-t">Notes:</p>
            <textarea style="width:86%;margin-left:7%;margin-right:7%;height:60px;border:1.2px solid #ff4400;border-radius:5px" placeholder="Notes"></textarea>
            <div style="border-radius:5px;margin-right:7%;margin-left:5%">
                <ion-row style="margin-top:0px;text-align:center">
                    <ion-col col-3>
                        <p class="padding-t">Status:</p>
                    </ion-col>
                    <ion-col col-3 style="font-size:16px;color:green;margin-top:0px;">
                        <ion-item no-lines>
                            <ion-toggle color="secondary" class="padding-a" checked="false"></ion-toggle>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
            <p class="padding-t">Minimum:</p>
            <ion-input type="text" placeholder="minimum"></ion-input>

            <!--ion-fab right bottom style="position:fixed;margin-bottom:50px">
                <button ion-fab style="margin-top:0px;background:none;float:right;background-color:#ff4400 ;box-shadow:none;">   
                                <ion-icon name="create" style="color:white;font-size:30px"></ion-icon>
               </button>
                <ion-fab-list side="top" style="font-size:60px;">
                    <button ion-fab class="fabStartBtn" (click)="gotolist()"><b>Save</b></button>
                    <button ion-fab class="fabStartBtn" (click)="stayhere()"><b>Cancel</b></button>
                </ion-fab-list>
            </ion-fab-->
        </div>
        <div *ngSwitchCase="'extra_item'">
            <ion-list border-bottom="none">
                <ion-item-sliding *ngFor="let item of items;let odd=odd; let even=even;">
                    <ion-item [ngClass]="{ odd: odd, even: even }" text-wrap no-lines style="height:100px;">
                        <ion-row>
                            <ion-col col-1>

                                <p style="color:#ff4400;;font-weight:bold;font-size:15px;">{{item.number}}</p>

                            </ion-col>

                            <ion-col col-7>
                                <p style="color:#ff4400"> {{ item.food }} </p>
                            </ion-col>
                            <ion-col col-2>

                                <p style="color:#ff4400;;font-weight:bold;font-size:15px">Price:</p>

                            </ion-col>
                            <ion-col>
                                <p style="padding-left:10px;color:#ff4400"> ${{item.price}} </p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-1>
                            </ion-col>
                            <ion-col col-5>
                                <p> {{item.detail}}</p>
                            </ion-col>
                            <ion-col col-2>
                                <ion-icon name="arrow-dropdown" style="padding:0;font-size:25px;margin-top:0px"></ion-icon>
                            </ion-col>
                            <ion-col col-3>
                                <p style="font-weight:bold;font-size:15px">Free Qty:</p>
                            </ion-col>
                            <ion-col col-1>
                                <p style="padding-left:10px">{{item.freeQty1}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item-options>
                        <button ion-button (click)="editpopup(item)" class="rowz" [ngClass]="{ odd: odd, even: even }"><ion-icon name="create" style="font-size:25px" ></ion-icon>
                 EDIT 
                </button>
                        <button ion-button (click)="deletefields(item)" class="rowy" [ngClass]="{ odd: odd, even: even }"><ion-icon name="trash" style="font-size:25px" ></ion-icon>
                 DELETE
                </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <div *ngIf="variety1.Food_Name != null">
                <ion-list border-bottom="none">
                    <ion-item-sliding>
                        <ion-item text-wrap no-lines style="height:100px;">
                            <ion-row>
                                <ion-col col-1>
                                    <p style="color:#ff4400;;font-weight:bold;font-size:15px;">8.</p>
                                </ion-col>
                                <ion-col col-7>
                                    <p style="color:#ff4400"> {{variety1.Food_Name }} </p>
                                </ion-col>
                                <ion-col col-2>
                                    <p style="color:#ff4400;;font-weight:bold;font-size:15px">Price:</p>

                                </ion-col>
                                <ion-col>
                                    <p style="padding-left:10px;color:#ff4400"> ${{variety1.price1}} </p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-1>
                                </ion-col>
                                <ion-col col-5>
                                    <p> {{variety1.details}}</p>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-icon name="arrow-dropdown" style="padding:0;font-size:25px;margin-top:0px"></ion-icon>
                                </ion-col>
                                <ion-col col-3>
                                    <p style="font-weight:bold;font-size:15px">Free Qty:</p>
                                </ion-col>
                                <ion-col col-1>
                                    <p style="padding-left:10px">{{variety1.free_quantity}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <ion-item-options>
                            <button ion-button (click)="editpopup(item)" class="rowz" [ngClass]="{ odd: odd, even: even }"><ion-icon name="create" style="font-size:25px" ></ion-icon>
                 EDIT 
                </button>
                            <button ion-button (click)="deletefields(item)" class="rowy" [ngClass]="{ odd: odd, even: even }"><ion-icon name="trash" style="font-size:25px" ></ion-icon>
                 DELETE
                </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </div>

        </div>
        <!--ion-fab right bottom style="position:fixed;margin-bottom:50px">
            <button ion-fab style="margin-top:0px;background:none;float:right;background-color:#ff4400 ;box-shadow:none;">   
                                <ion-icon name="create" style="color:white;font-size:30px"></ion-icon>
               </button>
            <ion-fab-list side="top" style="font-size:60px;">
                <button ion-fab class="fabStartBtn" (click)="gotolist()"><b>Create</b></button>
                <button ion-fab class="fabStartBtn" (click)="stayhere()"><b>Cancel</b></button>
                 <button ion-fab class="fabStartBtn" (click)="addvariety(variety1)"><b style="font-size:10px">Extra Item</b></button>
            </ion-fab-list>
        </ion-fab-->
        <ion-fab right bottom style="position:fixed;margin-bottom:50px">
            <button ion-fab style="margin-top:0px;background:none;float:right;background-color:#ff4400 ;box-shadow:none;">   
               <ion-icon name="create" style="color:white;font-size:30px"></ion-icon>
        </button>
            <ion-fab-list side="top" style="font-size:70px;">
                <div>
                    <button ion-fab class="fabStartBtn" (click)="gotolist(itemname)"><b>Save</b></button>
                    <button ion-fab class="fabStartBtn" (click)="stayhere()"><b>Cancel</b></button>
                    <button ion-fab class="fabStartBtn" (click)="addvariety(variety1)"><b style="font-size:10px">Add Variety</b></button>
                    <!--<button ion-fab class="fabStartBtn" (click)="adddietary()"><b style="font-size:10px">Add Dietary</b></button>-->
                </div>
            </ion-fab-list>
        </ion-fab>
    </div>
</ion-content>