page-confirm{
#note-id1{
    font-size:15px;color:#FF4F00;text-align:center;margin-top:10%;
}
#notes-id{
    font-size:18px;color:#FF4F00;text-align:center;margin-top:10%;
}
.heading-cls{
    margin-top:20%;
    color:#ff4f00;text-align:center;font-size:40px;
    font-family: Monotype Corsiva;
}
.text-class1{
    text-align: center;
    color: #666666;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-size:16px;
}
.padding{
      padding-left:7%;
      padding-right:7%;
      padding-top:20px;
      padding-bottom:0px;

}
.padding-btn{
     // padding-left:8%;
  //  padding-right:8%;
  padding:8%;
  padding-top:12%;
  margin-top:10%;

}

.happy-icon{
    color:#ff4f00;font-size:40px;margin-top: 5%;
}
}