.color-b{
    background: #cccccc;
    color:#ff4400;
    text-align: center;
}
.padding-a{
    padding-bottom: 2%;
     padding-left:5%;
      color:#ff4400;
    font-size: 17px;
    margin-bottom: 0%;
}
#color{
    color: #ff4400;
}