page-managemenu{
    .item-a{
text-align: center;
color: white;
background: #ff4400;
font-size: 18px;
}

.col{
    padding: 0px;
}
.label-ios{
    font-weight: bold;
    margin-left:7%;
    margin-bottom: 0px;
    padding : 0px;
}
.label-md{
    font-weight: bold;
    margin-left:7%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding : 0px;
}
.scroll-content{
    overflow-y: scroll;
}
.label-md{
    margin-top:0px;
}
}